<!DOCTYPE html>
<html>
<head>
<title>STAMP VENDOR</title>
</head>

<body>
  <h1>N S VISWANATHAN STAMP VENDOR</h1>
  <a href="{% url 'purchase_upload' %}">Purchase Upload</a><br><br>
  <a href="{% url 'sale_upload' %}">Sales Upload</a><br><br>


<form method="post" novalidate>
  {% csrf_token %}
  <table border="1">
    {{ form }}
  </table>
  <input type="submit"  name="sale" value="Sale"></input>
  <input type="submit"  name="stock" value="Stock"></input>

</form>


{% load static %}
<link rel='stylesheet' href="{% static 'style.css' %}">
<div id="stock_table">
<ol>
<table style="text-align: center">
  <tr>
    <th>stamp_id</th>
    <th>purchase_date</th>
    <th>denomination</th>
    {% if extra %}
    <th>sold_date</th>
    {% endif %}
  </tr>
  {% for b in datas %}
  <tr>
    <td>{{ b.stamp_id }}</td>
    <td>{{ b.purchase_date }}</td>
    <td> {{ denomination }}</td>
    {% if extra %}
    <td> {{ b.sold_date }} </td>
    {% endif %}
  </tr>
  {% endfor %}
  </table>
</ol>
</div>
<div> 
  <form method='POST', action="download/">
    {% csrf_token %}
    <input type='submit' name = "sale" value='Download_Sale'></input>
    <input type="submit"  name="stock" value="Download_Stock"></input>

</form>
</div>

</body>
</html>
